.navbar{
  font-size:25px !important;
  
}
.navbar-brand{
    font-size:25px;

}
.toppage{
height:95vh;
}
.landingtext {
	left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;	
	
}